In [16]:
%reload_ext autoreload
%autoreload 2

In [17]:
# Download the file
# https://www.data.gouv.fr/api/1/datasets/r/5669e5be-8c67-4fbf-aeae-08cbc2369dd4
# using wget
!wget -O ../data/raw/Q_13_previous-1950-2023_RR-T-Vent.csv.gz "https://www.data.gouv.fr/api/1/datasets/r/5669e5be-8c67-4fbf-aeae-08cbc2369dd4"

'wget' n'est pas reconnu en tant que commande interne
ou externe, un programme ex�cutable ou un fichier de commandes.

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
sys.path.append('..')

import config as c
# Append the parent directory of 'frost' to the path
sys.path.append('..') 

# Correct the import: import the 'func' module FROM the 'frost' package
import frost.func as f

In [21]:

df = f.load_weather_data('04')
df

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,TN,TNSOL,TN50
17388,04006005,ALLOS_SAPC,44.242500,6.625333,1400,2014-01-01,-6.9,<NA>,<NA>
17389,04006005,ALLOS_SAPC,44.242500,6.625333,1400,2014-01-02,-1.4,<NA>,<NA>
17390,04006005,ALLOS_SAPC,44.242500,6.625333,1400,2014-01-03,-5.1,<NA>,<NA>
17391,04006005,ALLOS_SAPC,44.242500,6.625333,1400,2014-01-04,1.1,<NA>,<NA>
17392,04006005,ALLOS_SAPC,44.242500,6.625333,1400,2014-01-05,-3.1,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...
969089,04230001,VALENSOLE,43.839500,6.000833,600,2023-12-27,1.8,<NA>,<NA>
969090,04230001,VALENSOLE,43.839500,6.000833,600,2023-12-28,2.0,<NA>,<NA>
969091,04230001,VALENSOLE,43.839500,6.000833,600,2023-12-29,4.5,<NA>,<NA>
969092,04230001,VALENSOLE,43.839500,6.000833,600,2023-12-30,3.2,<NA>,<NA>
969093,04230001,VALENSOLE,43.839500,6.000833,600,2023-12-31,4.5,<NA>,<NA>